LOG_LEVEL='warn'
ADDR='0.0.0.0:8080'
DATABASE_URL='postgres://user:password@localhost:5432/dbname'
API_KEY='WYSeJAt***M9Y38='
PG_MAX_CONNECTIONS=5
PROXY_REQUEST_TIMEOUT=300
PATH_PREFIX='/v1/'
DEFAULT_BACKEND_ADDR='http://127.0.0.1:8042'